<a href="https://colab.research.google.com/github/umayrasaharanii/KKASmt1/blob/main/1_fungsi_print_umayra_saharani_zulino_XI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Menampilkan Teks Bebas

In [ ]:
print("Halo dunia")

Halo dunia

In [ ]:
print("selamat datang di python")

selamat datang di python

In [ ]:
print('umayra Saharani')

umayra Saharani

# Variabel

In [ ]:
BB = 52
print (BB)

52

In [ ]:
umur = 15
print (umur)

15

In [ ]:
nama = "umayra saharani zulino"

# Menampilkan teks bebas dan variabel

In [ ]:
umur = 15
print (f"umur saya 15 tahun")

umur saya 15 tahun

In [ ]:
nama = "umayra saharani zulino"
print ("halo " + nama)

halo umayra saharani zulino

In [ ]:
umur = 15
print ("umur saya", umur, "tahun")

umur saya 15 tahun

In [ ]:
harga_telur = 26000
print("harga telur per 1 kg adalah",harga_telur)

harga telur per 1 kg adalah 26000

In [ ]:
harga_telur = 26000
print("harga telur per 1 kg adalah " + str(harga_telur))

harga telur per 1 kg adalah 26000

In [ ]:
nama_pembeli = "Umayra"
print("nama pembeli telur adalah " + nama_pembeli)

nama pembeli telur adalah Umayra

# Menampilkan hasil perhitungan

In [ ]:
pembagian = 10/2
print (pembagian)

5.0

In [ ]:
print (5 + 3)
print ("Hasilnya adalah", 5 * 4)

8
Hasilnya adalah 20

Latihan soal
1. tampilkan teks bebas: hari ini saya bahagia belajar bahasa python
2. tampilkan nilai variabel: mata_pelajaran_favorit = kode dan kecerdasan buatan
3. tampilkan nilai variabel: nilai_kka = 100
4. tampilkan teks bebas dan nilai variabel dengan tiga metode (f string,"+",","): "nilai KKA saya adalah {nilai_kka}loh!"

#jawaban latihan soal#

In [ ]:
print ("1. hari ini saya bahagia belajar bahasa python")

1. hari ini saya bahagia belajar bahasa python

In [ ]:
mata_pelajaran_favorit = "2. kode dan kecerdasan"
print (mata_pelajaran_favorit)

2. kode dan kecerdasan

In [ ]:
nilai_kka = "3. 100"
print (nilai_kka)

3. 100

In [ ]:
nilai_kka = 98
print(f"Nilai kka saya adalah {nilai_kka} loh!")
print("Nilai kka saya adalah " + str(nilai_kka) + "loh!")
print("Nilai kka saya adalah", nilai_kka,"loh!")

Nilai kka saya adalah 98 loh!
Nilai kka saya adalah 98loh!
Nilai kka saya adalah 98 loh!

#Escape character#

In [ ]:
print("nama: umayra saharani zulino")
print("kelas: XI, 1")
print("nomor absen: 34")

nama: umayra saharani zulino
kelas: XI, 1
nomor absen: 34

In [ ]:
print("nama: umayra Saharani Zulino\nkelas: XI,1\nNomor absen: 34")

nama: umayra Saharani Zulino
kelas: XI,1
Nomor absen: 34

In [ ]:
print("""nama: Umayra Saharani Zulino
kelas: XI,1
nomor absen: 34""")

nama: Umayra Saharani Zulino
kelas: XI,1
nomor absen: 34

In [ ]:
print ('ja\'far shodiq')

ja'far shodiq

In [ ]:
print ("ja'far shodiq")

ja'far shodiq

In [ ]:
print ("bu shinta berkata, \"semua harus menyimak pelajaran.\"")

bu shinta berkata, "semua harus menyimak pelajaran."

In [ ]:
print('bu shinta berkata, "semua harus menyimak pelajaran."')

bu shinta berkata, "semua harus menyimak pelajaran."

In [ ]:
print ("lokasi file video karnaval ada di D:\\karnaval 2025\\mp4")

lokasi file video karnaval ada di D:\karnaval 2025\mp4

#parameter fungsi print

In [ ]:
Tahun = 2010
Bulan = "april"
Tanggal = 7

print (Tanggal, end=" ")
print (Bulan, end=" ")
print (Tahun)

7 april 2010

In [ ]:
Tahun = 2010
Bulan = "april"
Tanggal = 7

print(Tanggal, Bulan, Tahun, sep="/")

7/april/2010

Latihan:

Tanggal-Bulan-Tahun

In [ ]:
Tahun = 2010
Bulan = "april"
Tanggal = 7

print(Tanggal, Bulan, Tahun, sep="-")

7-april-2010

In [ ]:
Nama_depan = "umayra"
Nama_belakang = "zulino"

print (Nama_depan, Nama_belakang)

umayra zulino

In [ ]:
Nama_depan = "umayra"
Nama_belakang = "zulino"

print(Nama_depan, end=" ")
print(Nama_belakang)

umayra zulino

Latihan soal

In [ ]:
print ('Bu shinta berkata, "berikut adalah judul pelajaran hari senin selasa rabu silakan disimpan di laptop masing-masing di folder local disk D:\\jadwal pelajaran\\kelas XI semester 1"')
print ("\njadwal pelajaran mingguan")
print ("=============================")
print ("jam\tsenin\t\tselasa\t\trabu")
print ("jam 1\tmatematika\tbahasa\t\tinformatika")
print ("jam 2\tbahasa ingr.\tsejarah\t\tma'rifatullah")
print ("jam 3\tinformatika\tolahraga\t\tbiologi")

Bu shinta berkata, "berikut adalah judul pelajaran hari senin selasa rabu silakan disimpan di laptop masing-masing di folder local disk D:\jadwal pelajaran\kelas XI semester 1"

jadwal pelajaran mingguan
=============================
jam	senin		selasa		rabu
jam 1	matematika	bahasa		informatika
jam 2	bahasa ingr.	sejarah		ma'rifatullah
jam 3	informatika	olahraga		biologi

In [ ]:
nama_siswa_1 = "Favian"
nama_siswa_2 = "Naufal"
nama_siswa_3 = "Humaira"
nama_siswa_4 = "Favian"

print(nama_siswa_1, nama_siswa_2, nama_siswa_3, nama_siswa_4, sep="~")

Favian~Naufal~Humaira~Favian

In [ ]:
print(nama_siswa_2, end="~")
print(nama_siswa_1)
print(nama_siswa_3, end="~")
print(nama_siswa_1)

Favian~Naufal
Humaira~Naufal